@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* background parallax layer */
#root {
  position: relative;
  overflow-x: hidden;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; /* bigger than viewport to allow movement */
  background-image: url('https://storage.123fakturera.se/public/wallpapers/sverige43.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transform: translateY(var(--parallax-offset, 0px));
  will-change: transform;
  z-index: 0;
}

#root > * {
  position: relative;
  z-index: 1;
}
